.divider,
.alt_divider {
  width: 4em;
  height: 0.35em;
  border-radius: 0.5em;
  margin: 1.5em 0 1.5em 1em;
}
.divider {
  background: linear-gradient(270deg, #f46737 0%, #5503ba 100%);
}
.alt_divider {
  background: linear-gradient(270deg, #13adc7 0%, #5503ba 100%);
}
