@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Space+Grotesk&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body,
nav,
Link {
  background-color: #1d1b30;
  color: rgb(146, 192, 228);
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
}
.container {
  padding: 0;
  width: 50vw;
  min-height: 70vh;
  margin: 1em auto 7vh auto;
}
.container h1 {
  font-size: 4em;
  margin: 1.5em 0;
}
.container h2 {
  font-size: 1.8em;
  margin: 1.5em 0;
}
.text_lg,
.text_md {
  padding-left: 5em;
  margin-bottom: 1.5rem;
}
.text_lg {
  font-size: 1.7em;
}
.text_md {
  font-size: 1.3em;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Media queries
 =========================== */
/* 27" monitor */
@media screen and (width>=2200px) {
  body {
    font-size: 22px;
  }
}
/* 15" laptop */
@media screen and (1590px<width<2200px) {
  body {
    font-size: 18px;
  }
}
/* 13" XPS laptop */
@media screen and (width<1590px) {
  body {
    font-size: 14px;
  }
}
