.container {
  padding: 0;
  width: 50vw;
  height: 75vh;
  margin: 1em auto;
}
.container h1 {
  font-size: 4em;
  margin: 1.5em 0;
}
.text_lg {
  font-size: 1.55rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
