.navbar {
  height: 10vh;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-around;
}

.navlogo {
  margin-top: 0.5em;
  width: 4em;
  height: 4em;
}

.nav_tabs {
  width: 65vw;
  padding-top: 1.75em;
  padding-left: 21vw;
  justify-content: space-around;
  font-size: 0.8em;
  border-bottom: 2px solid grey;
}

.nav_tabs > a {
  padding: 1.2em;
  color: rgb(122, 182, 231);
}
.nav_tabs > a:hover {
  color: rgb(241, 214, 214);
}
