.card:last-of-type {
  margin-top: 10%;
}

.card_text {
  text-align: justify;
  font-size: 1.1em;
  padding-bottom: 0.5em;
}
.card_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 8vw;
  margin-top: 1.5em;
}
.card_title a {
  color: #a7b5bf;
  border: 0.1em solid #a7b5bf;
  border-radius: 0.75em;
  padding: 0.5em;
}
.card_title a:hover {
  color: rgb(241, 214, 214);
  border-color: rgb(241, 214, 214);
}
.card_header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}
.card_header:first-child {
  padding: 0 1em 1em 0;
}
.card_list {
  font-size: 1.1em;
  display: flex;
  justify-content: space-evenly;
}
.card_header p {
  padding-left: 1em;
  padding-top: 3em;
}
.card_header img {
  width: 18em;
  height: 11em;
}
.card_title > h3 {
  width: 10vw;
}
.scrolling {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  height: 65vh;
}
.scrolling::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
