.card_text {
  text-align: justify;
  font-size: 0.8em;
}
#projects {
  z-index: -100;
}
.scrolling {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.scrolling::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
